*::-webkit-input-placeholder {
	color: #363636;
	opacity: 1;
}
*:-moz-placeholder {
	color: #363636;
	opacity: 1;
}
*::-moz-placeholder {
	color: #363636;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #363636;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Geometria';
	font-size: 16px;
	line-height: 140%;
	color: #363636;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
	-webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-top: 151px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #fff;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sandwich span {
	display: block;
}
.sandwich {
	width: 48px;
	height: 48px;
	border-radius: 6px;
	background: #ECECEC;
	padding-top: 13px;
	padding-left: 17px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	z-index: 20;
	flex: none;
	cursor: pointer;
	transition: all 0.3s;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 8px;
	height:  2px;
	display: block;
	margin: 0;
	background: #016EA4;
	border-radius: 2px;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 14px;
	height:  2px;
	display: block;
	margin: 0;
	background: #016EA4;
	border-radius: 2px;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 14px;
	height:  2px;
	display: block;
	margin: 0;
	background: #016EA4;
	border-radius: 2px;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
	top: 10px;
	width: 14px;
	width: 17px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 6px;
	width: 17px;
	transform: rotate(-45deg); 
}
.sandwich.active span {
	left: -2px;
}
.logo-wrap {
	display: flex;
	align-items: center;
}
.logo {
	display: inline-block;
}
.logo img {
	width: 240px;
	height: auto;
	display: block;
}
.logo-descr {
	width: 233px;
	margin-left: 24px;
	font-size: 13px;
	line-height: 140%;
}
.btn-main {
	padding: 0 20px;
	height: 48px;
	color: #FFF;
	font-family: Geometria;
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
	border-radius: 6px;
	background: #8B2E5B;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
}
.btn-main:hover {
	background: #66143c;
}
.btn-main_page {
	background: #0089CD;
}
.btn-main_page:hover {
	background: #006ea5;
}
.form-search {
	width: 300px;
	position: relative;
}
.form-search input {
	height: 48px;
	padding: 0 19px;
	margin-right: 50px;
	color: #363636;
	font-family: Geometria;
	font-size: 13px;
	font-weight: 400;
	line-height: 140%;
	border: none;
	border-radius: 6px;
	background: #ECECEC;
	width: 100%;
}
.header-contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header-contacts__line a {
	color: #363636;
}
.phone-main {
	font-size: 18px;
	font-weight: 700;
}
.header-contacts__line .phone-main {
	margin-left: 17px;
}
.link-page {
	font-size: 14px;
	line-height: 14px;
	color: #016EA4;
	border-bottom: 1px solid #016EA4;
	display: inline-block;
}
.header-contacts__line {
	margin-bottom: 2px;
}
.header-contacts__line i {
	font-size: 22px;
}
.btn-search {
	width: 48px;
	height: 48px;
	font-size: 18px;
	color: #363636;
	top: 0;
	right: 0;
	position: absolute;
	border: none;
	background: transparent;
}
.btn-search:hover {
	color: #016EA4;
}
.header-top {
	padding: 17px 0;
}
.header-bottom {
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu a {
	padding: 19px 0;
	color: #363636;
	font-weight: 700;
	display: block;
}
.menu a:hover {
	color: #016EA4;
}
.header .container {
	position: relative;
}
.menu-dropdown {
	padding: 20px 25px;
	width: 300px;
	top: 100%;
	margin-top: 18px;
	left: 15px;
	z-index: 10;
	background: #fff;
	position: absolute;
	border-radius: 10px;
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.10);
	display: none;
}
.nav-main li {
	margin-bottom: 10px;
}
.nav-main a {
	font-weight: 700;
	color: #363636;
	border-bottom: 1px solid transparent;
}
.nav-main a:hover {
	border-color: #363636;
}

.billbord {
	padding-top: 36px;
	padding-bottom: 15px;
}
.item-advantage {
	height: 151px;
	font-size: 18px;
	padding: 10px 28px;
	font-weight: 500;
	line-height: 140%;
	margin-bottom: 24px;
	border-radius: 10px;
	background: #02A8FA;
	display: flex;
	align-items: center;
	color: #fff;
}
.item-advantage sup {
	font-size: 10px;
	line-height: 0;
}
.item-advantage__icon {
	width: 45px;
	height: 45px;
	margin-right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.item-advantage__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-advantage:nth-child(2) {
	background: #29B7FE;
}
.item-advantage:nth-child(3) {
	background: #54C6FE;
}
.item-billbord {
	min-height: 500px;
	padding: 63px 54px;
	padding-bottom: 20px;
	border-radius: 10px;
	color: #fff;
	position: relative;
	z-index: 1;
}
.item-billbord__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	border-radius: 10px;
}
.item-billbord__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 10px;
}
.title-big {
	font-size: 40px;
	margin-bottom: 12px;
	font-weight: 700;
	line-height: 140%;
}
.list-page li {
	padding-left: 15px;
	font-size: 18px;
	font-weight: 500;
	line-height: 160%; 
	position: relative;
}
.list-page li::before {
	content: "•";
	top: 0px;
	left: 0px;
	position: absolute;
}
.item-billbord .btn-main {
	margin-top: 54px;
	padding: 0 36px;
	height: 62px;
	font-size: 16px;
}
.controls-slider {
	bottom: 21px;
	right: 30px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.controls-slider .slick-arrow {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	flex: none;
	transform: none;
}
.slick-arrow {
	width: 30px;
	height: 30px;
	top: 50%;
	font-size: 18px;
	color: #0089CD !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	cursor: pointer;
	transition: all 0.3s;
}
.slick-arrow::before {
	display: none;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-wrapper {
	position: relative;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
	margin: 0 7px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background-color: #016EA4;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 1;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #fff;
}
.controls-slider .slick-dots {
	margin: 0 26px;
	position: relative;
	display: flex;
	align-items: center;
}
.controls-slider .slick-next {
	order: 2;
}

.categories {
	padding-top: 42px;
	padding-bottom: 65px;
	color: #fff;
	background-color: #016EA4;
	background-image: url(../img/bg_icon.svg);
	background-repeat: no-repeat;
	background-position: center right 5%;
}
.head-section {
	margin-bottom: 37px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.btn-main_transparent {
	color: #0089CD;
	border: 1px solid #0089CD;
	background-color: transparent;
}
.btn-main_transparent:hover {
	color: #fff;
	background-color: #0089CD;
}
.categories .btn-main_transparent {
	color: #fff;
	border-color: #fff;
}
.categories .btn-main_transparent:hover {
	color: #0089CD;
	background-color: #fff;
}
.title-section {
	font-size: 32px;
	font-weight: 700;
	line-height: 160%; 
}
.item-category {
	height: 235px;
	padding: 25px 30px;
	color: #363636;
	font-size: 18px;
	font-weight: 700;
	line-height: 160%; 
	border-radius: 10px;
	background: #FFF;
	position: relative;
	z-index: 1;
	box-shadow: 0px 5px 15px 0px #016EA4;
	display: block;
}
.row_categories {
	margin: 0 -12px;
}
.row_categories > div {
	padding: 0 12px;
	margin-bottom: 24px;
}
.item-category__image {
	bottom: 5px;
	position: absolute;
	right: 0;
	z-index: -1;
}
.row_categories > div:nth-child(7) .item-category__image {
	bottom: 0;
}

.catalog {
	padding-top: 36px;
	padding-bottom: 50px;
	background: #F5F5F5;
}
.catalog .title-section {
	padding-bottom: 20px;
}
.quantity {
	width: 144px;
	height: 48px;
	border-radius: 3px;
	background: #ECECEC;
	display: flex;
	position: relative;
}
.quantity-button {
	flex: 1;
	border: none;
	background-color: transparent;
	font-size: 22px;
	font-weight: 500;
	color: #5C5F63;
	font-family: 'Geometria';
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	user-select: none;
}
.quantity input {
	flex: 1;
	width: 100%;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Geometria';
	border: none;
	color: #363636;
	text-align: center;
	background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]
{
	-moz-appearance: textfield;
}
.item-catalog {
	padding: 19px;
	padding-top: 8px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	background: #FFF;
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.10);
}
.item-catalog__image {
	height: 188px;
	margin-bottom: 12px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__title {
	margin-bottom: 10px;
	font-weight: 700;
	width: 100%;
	color: #363636;
	display: block;
}
.slider-catalog .slick-track {
	display: flex !important;
}
.slider-catalog .slick-slide {
	padding: 12px;
	height: inherit !important;
}
.feature {
	font-size: 14px;
	line-height: 200%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.feature strong {
	font-weight: 500;
}
.item-catalog .features-wrapper {
	padding-bottom: 11px;
	margin-bottom: auto;
}
.features-wrapper {
	width: 100%;
}
.price-main {
	font-size: 20px;
	font-weight: 700;
	line-height: 160%;
}
.price-main sup {
	font-size: 12px;
	line-height: 0;
}
.item-catalog__buttons {
	padding-top: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.btn-cart {
	width: 48px;
	height: 48px;
	border-radius: 6px;
	background-color: #0089CD;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.btn-cart:hover {
	background-color: #006ea5;
}
.quantity__text {
	padding-left: 30px;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	font-weight: 500;
}
.quantity__text sup {
	font-size: 8px;
	line-height: 0;
	position: relative;
	top: -5px;
}
.quantity__text ~ input {
	padding-right: 15px;
}
.btn-like {
	width: 48px;
	height: 48px;
	top: 18px;
	right: 18px;
	font-size: 20px;
	color: #5C5F63;
	border-radius: 3px;
	background: #ECECEC;
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.btn-like:hover,
.btn-like.active {
	color: #016EA4;
}
.tags-card {
	top: 18px;
	left: 18px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 2;
}
.tag-card {
	color: #FFF;
	font-size: 12px;
	font-weight: 700;
	line-height: 200%;
	text-transform: uppercase;
	padding: 4px 19px;
	margin-bottom: 11px;
	border-radius: 3px;
	background: #3B186C;
	text-transform: uppercase;
	display: inline-block;
}
.tag-card_hit {
	background: #FBB92F;
}
.tag-card_recomend {
	background: #8B2E5B;
}
.slider-catalog .slick-prev {
	left: -30px;
}
.slider-catalog .slick-next {
	right: -30px;
}

.services {
	padding-top: 34px;
	padding-bottom: 20px;
}
.item-service {
	display: block;
	color: #363636;
}
.item-service__image {
	height: 260px;
	margin-bottom: 16px;
	border-radius: 15px;
	display: block;
	overflow: hidden;
	width: 100%;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 15px;
	transition: all 1s;
}
.item-service__title {
	font-size: 18px;
	padding-left: 23px;
	font-weight: 700;
	line-height: 140%; 
	position: relative;
	display: block;
}
.item-service__title::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	height: 17px;
	width: 12px;
	background-image: url(../img/triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.item-service:hover {
	color: #016EA4;
}
.item-service:hover .item-service__image img {
	transform: scale(1.1);
}
.row_services {
	margin: 0 -13px;
}
.row_services > div {
	padding: 0 13px;
	margin-bottom: 42px;
}

.consultation {
	padding-bottom: 60px;
}
.consultation-block {
	padding: 47px 90px;
	padding-bottom: 55px;
	border-radius: 15px;
	color: #fff;
	background-image: url(../img/bg_consultation.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.consultation-block .title-section {
	font-size: 36px;
	max-width: 595px;
	margin-bottom: 15px;
	line-height: 140%; 
}
.consultation-block .list-page li {
	font-size: 20px;
	line-height: 180%;
}
.consultation-block .list-page {
	margin-bottom: 45px;
}
.title-middle {
	font-size: 20px;
	padding-bottom: 7px;
	font-weight: 700;
	line-height: 140%;
}
.descr-small {
	font-size: 14px;
}
.consultation-block .descr-small {
	padding-bottom: 18px;
}
.item-form {
	margin-bottom: 20px;
}
.consultation-block .item-form {
	margin-bottom: 0px;
}
.item-form textarea,
.item-form input {
	height: 50px;
	padding: 0 20px;
	color: #363636;
	font-family: Geometria;
	font-size: 13px;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	border: none;
	border-radius: 3px;
	background: #FFF;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
}
.file-upload {
	position: relative;
}
.name-upload {
	position: absolute;
	color: #363636;
	top: 100%;
	left: 0;
	font-size: 13px;
	line-height: 18px;
}
.file-upload input {
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	position: absolute;
}
.file-upload label {
	height: 50px;
	padding: 0px 23px;
	color: #363636;
	font-family: Geometria;
	font-size: 13px;
	font-weight: 400;
	line-height: 140%;
	display: flex;
	border-radius: 3px;
	align-items: center;
	justify-content: flex-start;	
	background: #FFF;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.30);
	cursor: pointer;
	transition: all 0.3s;
}
.file-upload label i {
	font-size: 12px;
	margin-right: 14px;
}
.file-upload label img {
	margin-right: 14px;
}
.consultation-block .btn-main {
	height: 62px;
	font-size: 16px;
	padding: 0 36px;
}

.delivery {
	padding-top: 33px;
	padding-bottom: 120px;
	min-height: 570px;
	background-color: #F5F5F5;
	background-image: url(../img/bg_delivery.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.delivery .title-section {
	padding-bottom: 30px;
}
.delivery-block {
	padding: 18px 44px;
	font-size: 18px;
	font-weight: 500;
	line-height: 140%;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.10);
}
.title-block {
	font-size: 24px;
	font-weight: 700;
	line-height: 160%;
}
.delivery-block .title-block {
	padding-bottom: 8px;
}
.delivery-block li {
	padding-left: 15px;
	margin-left: 7px;
	margin-top: 10px;
	position: relative;
}
.delivery-block li::before {
	content: "•";
	top: 0px;
	left: 0px;
	position: absolute;
}
.col-lg-5 .delivery-block li {
	margin-bottom: 23px;
}
.col-lg-5 .delivery-block li:last-child {
	margin-bottom: 15px;
}

.contacts {
	padding: 60px 0;
}
#map {
	height: 526px;
	margin-left: -60px;
	border-radius: 15px;
	background-color: #ccc;
}
.contacts-block {
	padding: 32px 43px;
	padding-bottom: 15px;
	font-size: 18px;
	line-height: 160%;
	color: #fff;
	border-radius: 15px;
	background: #016EA4;
	position: relative;
	z-index: 2;
	min-height: 100%;
}
.contacts-block .title-middle {
	padding-top: 24px;
}
.contacts-block .title-middle:first-of-type {
	padding-top: 0;
}
.contacts-block p a {
	color: #fff;
}
.contacts-block .btn-main {
	font-size: 16px;
	padding: 0 30px;
	height: 54px;
	margin-top: 25px;
}
#map .ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
	margin: 0 !important;
	padding-left: 0 !important;
	border-radius: 10px;
}
.logo-map img {
	margin: 0 auto;
	display: block;
}
.ymaps-2-1-79-balloon__close-button {
	display: none !important;
}
#map .ymaps-2-1-79-balloon {
	margin-left: 17px; 
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px 0px rgba(119, 119, 119, 0.10);
}
#map .ymaps-2-1-79-balloon_to_top .ymaps-2-1-79-balloon__tail {
	display: none !important;
}
#map .ymaps-2-1-79-balloon__layout {
	border-radius: 10px;
}

.footer {
	padding-top: 45px;
	font-size: 14px;
	line-height: 160%;
	color: #fff;
	background: #363636;
}
.footer__content p a {
	color: #fff;
}
.footer__content strong {
	font-weight: 500;
}
.footer__nav a {
	font-weight: 500;
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer__nav li {
	margin-bottom: 7px;
}
.footer__nav_big,
.footer__title {
	font-size: 18px;
	margin-bottom: 14px;
	font-weight: 700;
	line-height: 160%; 
}
.footer__nav_big {
	margin: 0;
}
.footer__nav_big li {
	margin-bottom: 13px;
}
.footer__logo {
	margin-bottom: 22px;
}
.footer__logo .logo-descr {
	margin: 0;
	margin-top: 20px;
	font-size: 14px;
	line-height: 140%;
	max-width: 293px;
	width: 100%;
}
.footer-bottom {
	padding: 10px 0;
	margin-top: 50px;
	color: #CECECE;
	border-top: 1px solid #5C5F63;
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
} 
.footer-bottom a {
	color: #CECECE;
}
.footer-bottom a:hover {
	color: #fff;
}
.btn_top {
	font-size: 18px;
	float: right;
	position: relative;
	color: #fff !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #8B2E5B;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	background: #66143c;
}
.checkbox {
	font-size: 12px;
	line-height: 14px;
	margin-top: 8px;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 5px 0 0 32px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #000;
	border-radius: 2px;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 0px;
	width: 20px;
	height: 20px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #0089CD;
	font-size: 12px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.block-form .checkbox label > span:before,
.consultation-block .checkbox label > span:before {
	border-color: #fff;
}
.block-form .checkbox label > span:after,
.consultation-block .checkbox label > span:after {
	color: #fff;
}
.consultation-block .checkbox {
	max-width: 245px;
}
.footer__title i {
	display: none;
}
.buttons-fixed {
	top: 180px;
	right: 20px;
	z-index: 500;
	position: fixed;
}
.btn-fixed {
	margin-bottom: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 6px;
	background: #0089CD;
	width: 48px;
	height: 48px;
	font-size: 22px;
	color: #fff;
}
.btn-fixed:hover {
	opacity: 0.8;
}
.btn-fixed_basket {
	background: #0089CD;
}
.btn-fixed_favorites {
	background: #8B2E5B;
}
.btn-fixed_mobile {
	background: #EE7918;
}
.sandwich_close,
.mobile-phone,
.menu-dropdown__mobile {
	display: none;
}   
.page-contacts {
	padding-top: 35px;
	padding-bottom: 39px;
	background: #F5F5F5;
}
.page-contacts .title-section {
	padding-bottom: 26px;
}
.item-contact {
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 49px;
}
.item-contact a {
	color: #363636;
}
.item-contact p {
	margin: 0;
}
.phone-contact {
	font-size: 20px;
	font-weight: 500;
}
.item-contact span {
	font-size: 16px;
}
.block-form {
	padding: 28px 40px;
	color: #fff;
	border-radius: 15px;
	background: #016EA4;
}
.descr-form {
	margin-bottom: 20px;
}
.block-form .title-block {
	margin-bottom: 9px;
}
.item-form textarea {
	padding-top: 15px;
	height: 100px;
	resize: none;
	display: block;
}
.block-form__button {
	text-align: center; 
}
.block-form .btn-main {
	padding: 0 36px;
	height: 58px;
}
.block-form .item-form {
	margin-bottom: 18px;
}
.block-form .checkbox {
	margin-top: 20px;
	justify-content: center;
	white-space: nowrap;
}
.page-contacts ~ .contacts {
	padding: 40px 0;
}
.page-news {
	padding-top: 33px;
	padding-bottom: 40px;
}
.page-news .title-section {
	padding-bottom: 18px;
}
.item-news {
	font-size: 14px;
	line-height: 140%;
	min-height: 100%;
	color: #363636;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.item-news__image {
	height: 224px;
	margin-bottom: 16px;
	border-radius: 10px;
	display: block;
	width: 100%;
	overflow: hidden;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 10px;
	transition: all 1s;
}
.item-news:hover .item-news__image img {
	transform: scale(1.1);
}
.item-news:hover .item-news__title {
	color: #0089CD;
}
.item-news__content {
	padding-left: 24px;
	padding-bottom: 18px;
	border-left: 1px solid #CECECE;
	display: block;
	flex: 1;
}
.item-news__date {
	margin-bottom: 16px;
	color: #5C5F63;
	display: block;
}
.item-news__title {
	font-size: 18px;
	max-width: 325px;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 140%;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	transition: all 0.3s;
}
.item-news__text {
	display: block;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.row_news {
	margin: 0 -12px;
}
.row_news > div {
	padding: 0 12px;
	margin-bottom: 30px;
}
.pager {
	height: 60px;
	margin-top: 5px;
	background: #F5F5F5;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	margin: 0 25px;
	font-weight: 700;
	color: #363636;
}
.page-numbers.current,
.page-numbers:hover {
	color: #0089CD;
}
.prev.page-numbers,
.next.page-numbers {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	width: 42px;
	height: 42px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s;
	color: #0089CD;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers {
	left: 11px;
}
.next.page-numbers {
	right: 11px;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	color: #fff;
	background-color: #0089CD;
}

.article {
	padding-bottom: 40px;
}
.breadcrumbs {
	padding: 13px 0;
	font-size: 14px;
	line-height: 140%;
	display: flex;
	color: #5C5F63;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #5C5F63;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #5C5F63;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.article-content h1 {
	font-size: 30px;
	margin-bottom: 19px;
	font-weight: 700;
	line-height: 160%; 
}
.article-content h2 {
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 16px;
	font-weight: 700;
	line-height: 140%; 
}
.article-content ul {
	margin-bottom: 20px;
}
.article-content li {
	padding-left: 15px;
	margin-left: 10px;
	position: relative;
}
.article-content li::before {
	content: "•";
	top: 0px;
	left: 0px;
	position: absolute;
}
.article-content p a {
	color: #363636;
	border-bottom: 1px solid #363636;
}
.article-content p a:hover {
	border-color: transparent;
}
.article-content strong {
	font-weight: 500;
}
.article-top {
	padding: 15px 0;
	padding-left: 30px;
	border-left: 1px solid #CECECE;
}
.article-content time {
	margin-bottom: 19px;
	color: #5C5F63;
	font-size: 14px;
	line-height: 140%;
	display: block;
}
.article-content img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 10px;
}
.page-categories .item-category {
	box-shadow: 0px 5px 15px 0px #D8DBDD;
}
.page-categories {
	padding-bottom: 15px;
}
.page-categories .title-section {
	padding-bottom: 18px;
}
.page-categories ~ .consultation {
	padding-bottom: 50px;
}

.page-catalog {
	padding-bottom: 44px;
}
.page-catalog .title-section {
	padding-bottom: 12px;
}
.item-sidebar {
	border-top: 1px solid #CECECE;
}
.item-sidebar:last-child {
	border-bottom: 1px solid #CECECE;
}
.item-sidebar__head {
	font-size: 18px;
	padding: 15px 0;
	color: #363636;
	font-weight: 500;
	line-height: 160%;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	transition: all 0.3s;
}
.item-sidebar__head img {
	margin-left: 10px;
	transition: all 0.3s;
}
.item-sidebar.active .item-sidebar__head img {
	transform: rotate(180deg);
}
.item-sidebar__content {
	font-size: 14px;
	padding: 0 15px;
	font-weight: 500;
	display: none;
}
.item-sidebar__content li {
	margin-bottom: 5px;
}
.item-sidebar__content li a {
	color: #363636;
}
.item-sidebar__head:hover,
.item-sidebar__content li a:hover,
.item-sidebar__content li.active a {
	color: #0089CD;
}
.sorting-catalog {
	padding-top: 10px;
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-sorting {
	display: flex;
	align-items: center;
}
.item-sorting__title {
	font-size: 14px;
	margin-right: 24px;
	font-weight: 700;
	line-height: 140%; 
}
.item-select .jqselect {
	display: block;
	width: 100%;
}
.item-select .jq-selectbox__select-text {
	font-size: 14px;
	height: 39px;
	padding: 12px;
	padding-right: 43px;
	display: flex;
	align-items: center;
	font-weight: 500;
	line-height: 160%;
	cursor: pointer;
	border-radius: 3px;
	background-color: #fff;
	border: 1px solid #CECECE;
}
.item-select .jq-selectbox__trigger {
	width: 19px;
	height: 19px;
	font-size: 12px;
	right: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
}
.item-select .jq-selectbox__trigger:before {
	content: "\f078";
}
.item-sorting .item-select {
	margin-right: 30px;
}
.item-select .jq-selectbox__dropdown {
	border-radius: 3px;
	border: 1px solid #CECECE;
	background-color: #fff;
	width: 100%;
	top: 100% !important;
	bottom: auto !important;
}
.item-select .jq-selectbox__dropdown li {
	padding: 5px 10px;
	cursor: pointer;
}
.switcher {
	font-size: 14px;
	font-weight: 700;
	line-height: 160%; 
	display: flex;
	align-items: center;
	cursor: pointer;
}
.switcher__icon {
	width: 48px;
	height: 24px;
	margin: 0 11px;
	border-radius: 30px;
	position: relative;
	background: #016EA4;
}
.switcher__circle {
	width: 20px;
	height: 20px;
	top: 2px;
	right: 2px;
	transition: all 0.5s;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
}
.switcher.active .switcher__circle {
	right: 25px;
}
.item-select_sort {
	min-width: 230px;
}
.item-select_size {
	min-width: 174px;
}
.table-catalog table {
	font-size: 14px;
	font-weight: 500;
	line-height: 140%; 
	width: 100%;
	border-spacing: 0;
}
.table-catalog th {
	padding: 12px 15px;
	text-align: left;
	background: #ECECEC;
}
.table-catalog td {
	padding: 13px 15px;
	border-bottom: 1px solid #CECECE;
}
.table-catalog .quantity {
	width: 83px;
	height: 26px;
	margin-top: 7px;
}
.table-catalog .quantity input {
	font-size: 14px;
}
.table-catalog .quantity-button {
	font-size: 19px;
}
.btn-main_filter {
	display: none;
}
.page-card {
	font-size: 14px;
	padding-bottom: 49px;
}
.page-card .breadcrumbs {
	padding-bottom: 21px;
}
.page-card .title-section {
	padding-bottom: 12px;
}
.image-card {
	height: 303px;
	margin-right: -35px;
	border: 1px solid #CECECE;
	background: #FFF;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
}
.image-card img {
	max-width: 100%;
	max-height: 100%;
}
.image-card .btn-like {
	top: 10px;
	left: 10px;
	right: auto;
}
.title-small {
	font-size: 14px;
	line-height: 140%;
	font-weight: 700;
}
.title-small_articul {
	margin-bottom: 43px;
}
.title-small_features {
	margin-bottom: 17px;
}
.card-info {
	margin-left: 30px;
	margin-right: -30px;
}
.card-info .feature {
	margin-bottom: 8px;
	font-weight: 500;
}
.card-actions {
	margin-left: 30px;
}
.tab-container-card {
	padding: 22px;
	padding-top: 25px;
	border: 1px solid #ECECEC;
}
.tabs-card {
	position: relative;
	top: 1px;
	display: flex;
	align-items: center;
}
.tabs-card li {
	flex: 1;
}
.tabs-card a {
	padding: 7px;
	font-weight: 700;
	text-transform: uppercase;
	color: #363636;
	display: block;
	border: 1px solid transparent;
	text-align: center;
}
.tabs-card a:hover {
	color: #0089cd;
}
.tabs-card .active a {
	border: 1px solid #ECECEC;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
.line-card__title {
	padding-bottom: 4px;
	line-height: 200%;
	font-weight: 500;
}
.line-card {
	margin-top: 23px;
	margin-bottom: 33px;
	display: flex;
	justify-content: space-between;
}
.card-actions .quantity {
	width: 124px;
	height: 46px;
}
.price-total {
	margin-top: 10px;
	font-weight: 700;
}
.card-actions .btn-main {
	height: 58px;
	font-size: 16px;
	width: 100%;
	padding: 0;
	display: flex;
}
.card-actions .btn-main img {
	margin-left: 12px;
}
.tab-pane-card {
	display: none;
}
.tab-pane-card:nth-child(2) {
	display: block;
}
.tabs {
	border-bottom: 2px solid #D8DBDD;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tabs a {
	font-size: 16px;
	padding-bottom: 7px;
	top: 2px;
	color: #363636;
	font-weight: 700;
	border-bottom: 2px solid transparent;
	display: block;
	position: relative;
}
.tabs .active a {
	border-color: #0089CD;
}
.tabs a:hover {
	color: #0089CD;
}
.page-card .tabs {
	max-width: 433px;
	margin-top: 30px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.tab-container {
	padding-top: 19px;
}
.page-services {
	padding-top: 30px;
	padding-bottom: 15px;
}
.page-services .title-section {
	padding-bottom: 16px;
}
.article-content ol {
	padding-left: 10px;
	margin: 0;
}
.article-content ol li::before {
	display: none;
}
.article-content ol li {
	padding-left: 0;
}
.article-content blockquote {
	background: #ECECEC;
	padding: 30px 45px;
	margin: 0;
}
.article-content img + blockquote {
	margin-top: 70px;
}
.page-service .breadcrumbs {
	padding-bottom: 20px;
}
.form-bottom {
	padding: 29px 174px;
	padding-bottom: 42px;
	color: #fff;
	text-align: center;
	border-radius: 15px;
	background: #016EA4;
}
.form-bottom .btn-main {
	height: 58px;
	font-size: 16px;
	margin-bottom: 20px;
	min-width: 241px;
}
.col-btn {
	padding: 0 15px;
}
.title-form {
	font-size: 30px;
	padding-bottom: 13px;
	font-weight: 700;
	line-height: 140%;
}
.form-bottom .checkbox label > span:before {
	border-color: #fff;
}
.form-bottom .checkbox label > span:after {
	color: #fff;
}
.form-bottom .checkbox {
	justify-content: center;
}
.page-service {
	padding-bottom: 50px;
}
.page-service .form-bottom {
	margin-top: 40px;
}
.page-service {
	padding-bottom: 49px;
}
.page-service .title-section {
	padding-bottom: 13px;
	text-align: center;
}
.block-calculator {
	padding: 27px 229px;
	padding-bottom: 49px;
	border-radius: 3px;
	background: #ECECEC;
}
.selects-calculator .row {
	margin: 0 -20px;
}
.selects-calculator .row > div {
	padding: 0 20px;
	margin-bottom: 27px;
}
.selects-calculator {
	padding: 0 40px;
}
.image-calculator {
	height: 303px;
	border-radius: 15px;
	overflow: hidden;
	background: #FFF;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}
.image-calculator img {
	max-width: 100%;
	max-height: 100%;
}
.form-calculator {
	padding: 21px 52px;
	min-height: 100%;
	border-radius: 15px;
	background: #FFF;
}
.title-calculator {
	font-weight: 700;
}
.line-calculator {
	font-size: 14px;
	font-weight: 500;
	margin-top: 18px;
	display: flex;
	align-items: center;
}
.form-calculator .item-form input {
	height: 38px;
	border-radius: 3px;
	box-shadow: none;
	padding: 0 15px;
	border: 1px solid #ECECEC;
}
.form-calculator .item-form {
	width: 103px;
	margin: 0;
	margin-left: auto;
	margin-right: 30px;
	flex: none;
}
.block-calculator .form-bottom {
	padding: 37px 41px;
}
.block-calculator .form-bottom .btn-main {
	padding: 0 50px;
	min-width: initial;
}
.block-calculator .form-bottom .row {
	margin: 0 -7px;
}
.block-calculator .form-bottom .row > div {
	padding: 0 7px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 14px;
	color: #b9b9b9;
	transition: all 0.3s;
	margin-right: 4px;
}
.rating_1 > .rating__item:nth-child(1) {
	color: #FBB92F;
}
.rating_2 > .rating__item:nth-child(-n+2) {
	color: #FBB92F;
}
.rating_3 > .rating__item:nth-child(-n+3) {
	color: #FBB92F;
}
.rating_4 > .rating__item:nth-child(-n+4) {
	color: #FBB92F;
}
.rating_5 > .rating__item:nth-child(-n+5) {
	color: #FBB92F;
}
.rating__item.active {
	color: #FBB92F;
}
.page-reviews {
	padding-bottom: 50px;
}
.page-reviews .title-section {
	padding-top: 5px;
	padding-bottom: 13px;
}
.reviews-block {
	padding: 30px;
	padding-bottom: 20px;
	border-radius: 3px;
	background: #ECECEC;
}
.item-review {
	padding: 27px 40px;
	border-radius: 15px;
	background: #FFF;
	min-height: 100%;
	transition: all 0.3s;
}
.item-review:hover {
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.30);
}
.item-review__head {
	margin-bottom: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.reviews-block .row {
	margin: 0 -12px;
}
.reviews-block .row > div {
	padding: 0 12px;
	margin-bottom: 24px;
}
.form-bottom_review .item-form textarea {
	height: 119px;
}
.form-bottom_review .item-form {
	margin-bottom: 16px;
}
.form-bottom.form-bottom_review {
	padding-left: 318px;
	padding-right: 318px;
}
.form-bottom.form-bottom_review .btn-main {
	margin-bottom: 15px;
	margin-top: 10px;
}
.form-bottom.form-bottom_review {
	margin-top: 50px;
}
.form-bottom.form-bottom_review .title-form {
	padding-bottom: 22px;
}
.page-error {
	padding-top: 30px;
	padding-bottom: 38px;
}
.error-block {
	padding: 57px 40px;
	min-height: 700px;
	color: #fff;
	text-align: center;
	background-image: url(../img/bg_error.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.error-block .title-section {
	margin-bottom: 348px;
}
.descr-error {
	max-width: 422px;
	margin: 0 auto;
	padding-bottom: 38px;
	font-size: 20px;
	font-weight: 500;
	line-height: 160%;
}
.thanks-block  .btn-main,
.error-block .btn-main {
	height: 58px;
	padding: 0 36px;
	font-size: 16px;
}
.table-catalog .btn-cart {
	width: 32px;
	height: 32px;
	background-size: 16px auto;
	border-radius: 4px;
}
.form-bottom.form-bottom_review .row {
	margin: 0 -12px;
}
.form-bottom.form-bottom_review .row > div {
	padding: 0 12px;
}
.page-thanks {
	padding-top: 30px;
	padding-bottom: 38px;
}
.thanks-block {
	padding: 124px 341px;
	padding-bottom: 136px;
	text-align: center;
	color: #fff;
	background-image: url(../img/bg_thanks.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.thanks-inner {
	padding: 73px 120px;
	padding-bottom: 65px;
	border-radius: 20px;
background: rgba(255, 255, 255, 0.30);
backdrop-filter: blur(10px);
}
.thanks-block .title-section {
	padding-bottom: 32px;
}
.thanks-block .title-block {
	padding-bottom: 45px;
	font-weight: 500;
}
.page-about {
	padding-top: 20px;
	color: #fff;
	background: #016EA4;
}
.page-about .title-section {
	padding-bottom: 78px;
}
.content-about {
	padding: 0 85px;
}
.title-about {
	font-size: 40px;
	padding-bottom: 7px;
font-weight: 500;
line-height: 140%;
}
.value-about {
	font-size: 128px;
font-weight: 700;
line-height: 140%; 
display: flex;
align-items: center;
}
.value-about span {
	font-size: 40px;
font-weight: 500;
line-height: 160%;
	margin-left: 28px;
}
.text-about {
	font-size: 20px;
font-weight: 500;
line-height: 160%;
}
.text-about p {
	margin-bottom: 20px;
}
.text-about p:last-child {
	margin-bottom: 0;
}
.image-about {
	margin-top: 60px;
	margin-bottom: -112px;
}
.image-about img {
	border-radius: 15px;
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}
.bottom-about {
	padding-top: 148px;
	padding-bottom: 20px;
	background-color: #fff; 
}
.text-block {
	font-size: 18px;
	padding: 34px 50px;
	line-height: 140%;
	height: 100%;
	min-height: 155px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	border-radius: 10px;
	background: #FFF;
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.10);
}
.text-block p {
	margin: 0;
}
.row_main {
	margin: 0 -12px;
}
.row_main > div {
	padding: 0 12px;
	margin-bottom: 30px;
}
.row_partners {
	margin: -4px;
}
.row_partners > div {
	padding: 0 4px;
	margin: 4px 0;
}
.item-partner {
	height: 73px;
	border-radius: 6px;
	background: #FFF;
	box-shadow: 0px 5px 15px 0px rgba(119, 119, 119, 0.10);
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.text-block li {
	padding-left: 15px;
	margin-bottom: 15px;
	font-weight: 500;
	position: relative;
}
.text-block li::before {
	content: "•";
	top: 0px;
	left: 0px;
	position: absolute;
}
.text-block li:last-child {
	margin-bottom: 0;
}  
