/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	body {
		font-size: 14px;
	}
	.logo img {
		width: 180px;
	}
	.logo-descr {
		width: 193px;
		margin-left: 13px;
		font-size: 11px;
	}
	.form-search {
		width: 240px;
	}
	.header-contacts__line i { 
		font-size: 20px;
	}
	.header-contacts__line .phone-main {
		margin-left: 11px;
	}
	.phone-main {
		font-size: 16px;
	}
	.menu a {
		padding: 15px 0;
	}
	.header-top {
		padding: 13px 0;
	}
	.billbord {
		padding-top: 28px;
	}
	.title-big {
		font-size: 35px;
		margin-bottom: 11px;
	}
	.list-page li {
		font-size: 16px;
	}
	.item-billbord .btn-main {
		margin-top: 35px;
		padding: 0 33px;
		height: 55px;
		font-size: 15px;
	}
	.item-billbord {
		min-height: 435px;
		padding: 45px 40px;
	}
	.item-advantage {
		height: 133px;
		font-size: 16px;
		padding: 10px 25px;
		margin-bottom: 20px;
	}
	.item-advantage sup {
		font-size: 8px;
	}
	.item-advantage__icon {
		width: 40px;
		height: 40px;
		margin-right: 20px;
	}
	.item-category__image {
		transform: scale(0.86);
		transform-origin: 100% 100%;
	}

	.item-category {
		height: 210px;
		padding: 15px 20px;
		font-size: 16px;
		font-weight: 700;
		line-height: 155%;
	}
	.categories {
		background-size: auto 95%;
	}
	.item-catalog {
		padding: 15px;
		padding-top: 5px;
	}
	.tag-card {
		font-size: 10px;
		line-height: 200%;
		padding: 3px 14px;
		margin-bottom: 7px;
	}
	.tags-card {
		top: 12px;
		left: 12px;
	}
	.btn-like {
		width: 40px;
		height: 40px;
		top: 12px;
		right: 12px;
		font-size: 17px;
	}
	.feature {
		font-size: 13px;
	}
	.price-main {
		font-size: 18px;
	}
	.price-main sup {
		font-size: 10px;
	}
	.quantity {
		width: 130px;
	}
	.quantity__text {
		padding-left: 25px;
	}
	.quantity-button {
		font-size: 20px;
	}
	.head-section {
		margin-bottom: 30px;
	}
	.row_services > div {
		padding: 0 10px;
		margin-bottom: 35px;
	}
	.row_services {
		margin: 0 -10px;
	}
	.item-service__image {
		height: 222px;
		margin-bottom: 13px;
		border-radius: 10px;
	}
	.item-service__image img {
		border-radius: 10px;
	}
	.item-service__title {
		font-size: 16px;
		padding-left: 20px;
	}
	.item-service__title::before {
		top: 2px;
		height: 13px;
		width: 9px;
	}
	.consultation-block {
		padding: 45px 50px;
		padding-bottom: 45px;
	}
	.consultation-block .title-section {
		font-size: 33px;
		max-width: 555px;
		margin-bottom: 12px;
	}
	.consultation-block .list-page li {
		font-size: 17px;
	}
	.consultation-block .list-page {
		margin-bottom: 31px;
	}
	.title-middle {
		font-size: 18px;
		padding-bottom: 5px;
	}
	.descr-small {
		font-size: 12px;
	}
	.consultation-block .descr-small {
		padding-bottom: 14px;
	}
	.delivery-block {
		padding: 18px 35px;
		font-size: 16px;
	}
	.contacts-block {
		padding: 29px 28px;
		padding-bottom: 15px;
		font-size: 16px;
	}
	#map {
		height: 475px;
	}
	.contacts {
		padding: 45px 0;
	}
	.footer {
		padding-top: 40px;
		font-size: 13px;
	}
	.footer__nav_big, .footer__title {
		font-size: 16px;
	}
	.footer__title {
		margin-bottom: 11px;
	}
	.footer__nav_big li {
		margin-bottom: 12px;
	}
	.footer-bottom {
		margin-top: 40px;
	}
	.delivery {
		padding-top: 31px;
		padding-bottom: 100px;
		min-height: 515px;
	}
	.buttons-fixed {
		top: 140px;
	}
	.menu-dropdown {
		margin-top: 15px;
	}
	.wrapper {
		padding-top: 125px;
	}
	.title-block {
		font-size: 22px;
	}
	.block-form {
		padding: 24px 25px;
	}
	.item-contact {
		font-size: 16px;
		margin-bottom: 40px;
	}
	.phone-contact {
		font-size: 18px;
	}
	.item-contact span {
		font-size: 14px;
	}
	.page-contacts .block-form {
		margin-left: -30px;
	}
	.checkbox {
		font-size: 11px;
	}
	.item-news__image {
		height: 190px;
	}
	.item-news__date {
		margin-bottom: 12px;
	}
	.article-content h1 {
		font-size: 26px;
		margin-bottom: 15px;
	}
	.article-content time {
		margin-bottom: 14px;
		font-size: 13px;
	}
	.article-top {
		padding: 13px 0;
		padding-left: 23px;
	}
	.article-content h2 {
		font-size: 18px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.table-catalog table {
		font-size: 13px;
	}
	.table-catalog th,
	.table-catalog td {
		padding: 10px;
	}
	.item-sidebar__head {
		font-size: 15px;
	}
	.item-sidebar__content {
		font-size: 13px;
	}
	.item-sorting__title {
		font-size: 13px;
		margin-right: 16px;
	}
	.switcher {
		font-size: 13px;
	}
	.item-sorting .item-select {
		margin-right: 20px;
	}
	.page-catalog .title-section {
		font-size: 29px;
	}
	.page-card {
		font-size: 13px;
	}
	.card-actions .quantity {
		width: 110px;
		height: 40px;
	}
	.tab-container-card {
		padding: 15px;
		padding-top: 20px;
	}
	.card-actions .btn-main {
		height: 53px;
		font-size: 14px;
	}
	.card-actions .btn-main img {
		max-width: 20px;
	}
	.line-card {
		margin-top: 16px;
		margin-bottom: 28px;
	}
	.image-card {
		height: 267px;
	}
	.title-small_articul {
		margin-bottom: 35px;
	}
	.tabs a {
		font-size: 14px;
	}
	.page-card .tabs {
		max-width: 376px;
	}
	.page-services {
		padding-top: 26px;
	}
	.article-content blockquote {
		padding: 26px 38px;
	}
	.form-bottom {
		padding: 29px 125px;
		padding-bottom: 38px;
	}
	.form-bottom .btn-main {
		min-width: 220px;
	}
	.page-service .form-bottom {
		margin-top: 30px;
	}
	.block-calculator {
		padding: 27px 150px;
		padding-bottom: 45px;
	}
	.line-calculator {
		font-size: 13px;
		margin-top: 15px;
	}
	.image-calculator {
		height: 290px;
	}
	.selects-calculator .row {
		margin: 0 -15px;
	}
	.selects-calculator .row > div {
		padding: 0 15px;
	}
	.form-calculator {
		padding: 21px 42px;
	}
	.selects-calculator {
		padding: 0 30px;
	}
	.form-bottom.form-bottom_review {
		padding-left: 240px;
		padding-right: 240px;
		margin-top: 38px;
	}
	.reviews-block {
		padding: 25px;
		padding-bottom: 10px;
	}
	.item-review {
		padding: 25px 30px;
	}
	.reviews-block .row {
		margin: 0 -9px;
	}
	.reviews-block .row > div {
		padding: 0 9px;
		margin-bottom: 18px;
	}
	.error-block {
		padding: 30px;
		min-height: 600px;
	}
	.error-block .title-section {
		margin-bottom: 300px;
	}
	.descr-error {
		max-width: 388px;
		padding-bottom: 30px;
		font-size: 18px;
	}
	.item-sidebar__head img {
		max-width: 13px;
	}
	.thanks-block {
		padding: 90px 260px;
		padding-bottom: 80px;
	}
	.thanks-inner {
		padding: 55px 75px;
		padding-bottom: 55px;
	}
	.thanks-block .title-block {
		padding-bottom: 33px;
	}
	.thanks-block .title-section {
		padding-bottom: 25px;
	}
	.content-about {
		padding: 0 40px;
	}
	.page-about .title-section {
		padding-bottom: 54px;
	}
	.title-about {
		font-size: 35px;
		padding-bottom: 4px;
	}
	.value-about {
		font-size: 114px;
	}
	.value-about span {
		font-size: 35px;
		margin-left: 24px;
	}
	.text-about {
		font-size: 18px;
	}
	.image-about {
		margin-top: 40px;
		margin-bottom: -100px;
	}
	.bottom-about {
		padding-top: 135px;
	}
	.text-block {
		font-size: 16px;
		padding: 30px 30px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__wrapper .logo-descr {
		display: none;
	}
	.billbord .row {
		margin: 0 -7px;
	}
	.billbord .row > div {
		padding: 0 7px;
	}
	.title-big {
		font-size: 30px;
	}
	.list-page li {
		font-size: 14px;
	}
	.item-billbord {
		min-height: 385px;
		padding: 30px 24px;
	}
	.item-billbord .btn-main {
		margin-top: 30px;
	}
	.item-advantage {
		height: 118px;
		font-size: 14px;
		padding: 10px 20px;
		margin-bottom: 15px;
	}
	.item-advantage__icon {
		width: 33px;
		height: 33px;
		margin-right: 14px;
	}
	.billbord {
		padding-bottom: 15px;
	}
	.title-section {
		font-size: 28px;
	}
	.item-category__image {
		transform: scale(0.6);
	}
	.row_categories > div {
		padding: 0 7px;
		margin-bottom: 15px;
	}
	.row_categories {
		margin: 0 -7px;
	}
	.item-category {
		height: 170px;
		padding: 15px 20px;
		font-size: 14px;
	}
	.categories {
		padding-bottom: 50px;
	}
	.item-service__image {
		height: 190px;
	}
	.item-service__title {
		font-size: 14px;
	}
	.item-service__title::before {
		height: 11px;
		width: 7px;
	}
	.row_services > div {
		margin-bottom: 25px;
	}
	.consultation-block {
		padding: 33px 25px;
	}
	.consultation-block .list-page li {
		font-size: 15px;
	}
	.consultation-block .row {
		margin: 0 -5px;
	}
	.consultation-block .row > div {
		padding: 0 5px;
	}
	.file-upload label {
		padding: 0 15px;
	}
	.file-upload label img {
		margin-right: 9px;
	}
	.consultation-block .btn-main {
		height: 58px;
		font-size: 14px;
		padding: 0 30px;
	}
	.title-block {
		font-size: 20px;
	}
	.delivery-block {
		padding: 18px 15px;
		font-size: 14px;
	}
	.col-lg-5 .delivery-block li {
		margin-bottom: 15px;
	}
	.delivery {
		padding-top: 30px;
		padding-bottom: 95px;
		min-height: 470px;
	}
	.delivery .title-section {
		padding-bottom: 20px;
	}
	.contacts {
		padding: 30px 0;
	}
	.contacts-block {
		padding: 25px 20px;
		padding-bottom: 10px;
		font-size: 14px;
	}
	.contacts-block .btn-main {
		font-size: 14px;
		padding: 0 25px;
		height: 51px;
		margin-top: 20px;
	}
	#map {
		height: 458px;
	}
	.footer {
		padding-top: 35px;
		font-size: 11px;
	}
	.col_contacts {
		padding-left: 0;
	}
	.footer__nav_big, .footer__title {
		font-size: 14px;
	}
	.footer__logo .logo-descr {
		margin-top: 17px;
		font-size: 12px;
		max-width: 265px;
	}
	.title-middle {
		font-size: 16px;
	}
	.block-form .checkbox {
		white-space: normal;
	}
	.item-contact {
		font-size: 14px;
		margin-bottom: 35px;
	}
	.phone-contact {
		font-size: 16px;
	}
	.block-form .title-block {
		margin-bottom: 6px;
	}
	.descr-form {
		margin-bottom: 15px;
	}
	.page-contacts .title-section {
		padding-bottom: 20px;
	}
	.item-news__content {
		padding-left: 15px;
		padding-bottom: 10px;
	}
	.item-news__title {
		font-size: 16px;
	}
	.item-news__image {
		height: 165px;
	}
	.page-news {
		padding-top: 25px;
	}
	.article-content h1 {
		font-size: 23px;
	}
	.sorting-catalog {
		display: block;
	}
	.item-sorting {
		margin-bottom: 15px;
	}
	.table-catalog th, .table-catalog td {
		padding: 8px 3px;
	}
	.table-catalog table {
		font-size: 11px;
	}
	.item-sidebar__head {
		font-size: 14px;
		padding: 12px 0;
	}
	.item-sidebar__head img {
		max-width: 12px;
	}
	.page-catalog .title-section {
		font-size: 22px;
	}
	.card-info {
		margin-left: 20px;
	}
	.card-actions {
		margin-left: 15px;
	}
	.line-card {
		margin-top: 10px;
		margin-bottom: 18px;
		display: block;
	}
	.line-card__total {
		margin-top: 15px;
	}
	.price-total {
		margin-top: 0;
	}
	.article-content blockquote {
		padding: 20px 20px;
	}
	.article-content img + blockquote {
		margin-top: 40px;
	}
	.form-bottom {
		padding: 29px 45px;
		padding-bottom: 38px;
	}
	.title-form {
		font-size: 25px;
		padding-bottom: 9px;
	}
	.block-calculator {
		padding: 27px 50px;
		padding-bottom: 40px;
	}
	.block-calculator .form-bottom .btn-main {
		padding: 0 30px;
	}
	.form-calculator {
		padding: 21px 30px;
	}
	.form-bottom.form-bottom_review {
		padding-left: 110px;
		padding-right: 110px;
	}
	.thanks-block {
		padding: 75px 180px;
		padding-bottom: 65px;
	}
	.thanks-block .title-section {
		padding-bottom: 17px;
	}
	.thanks-block .title-block {
		padding-bottom: 29px;
	}
	.thanks-inner {
		padding: 48px 45px;
		padding-bottom: 50px;
	}
	.text-block {
		font-size: 14px;
		padding: 25px 20px;
	}
	.title-about {
		font-size: 30px;
	}
	.value-about {
		font-size: 100px;
	}
	.value-about span {
		font-size: 31px;
	}
	.text-about p {
		margin-bottom: 16px;
	}
	.text-about {
		font-size: 16px;
	}
	.content-about {
		padding: 0;
	}
	.page-about .title-section {
		padding-bottom: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-bottom,
	.header__wrapper .form-search,
	.header__wrapper .btn-main,
	.header__wrapper .header-contacts {
		display: none;
	}
	.billbord {
		padding-top: 20px;
	}
	.slider-wrapper {
		margin-bottom: 20px;
	}
	.consultation-block .item-form {
		margin-bottom: 20px;
	}
	.consultation-block .btn-main {
		width: 100%;
	}
	.file-upload {
		margin-bottom: 20px;
	}
	.consultation-block .checkbox {
		margin: 0 auto;
		margin-top: 15px;
		color: #363636;
	}
	.consultation-block .checkbox label > span:before {
		border-color: #363636;
	}
	.consultation-block .checkbox label > span:after {
		color: #363636;
	}
	.consultation {
		padding-bottom: 40px;
	}
	.delivery-block {
		margin-bottom: 20px;
	}
	#map {
		height: 380px;
		margin: 0;
	}
	.contacts-block {
		padding: 25px;
		margin-bottom: 20px;
		min-height: initial;
	}
	.col_contacts {
		padding-left: 15px;
	}
	.footer {
		font-size: 13px;
		padding-bottom: 60px;
	}
	.footer__content {
		display: none;
		padding-top: 15px;
	}
	.footer__nav li {
		margin: 0;
	}
	.footer__title,
	.footer__nav a {
		padding: 8px 0;
		display: flex;
		margin: 0;
		align-items: center;
		justify-content: space-between;
	}
	.footer-bottom {
		margin-top: 25px;
		text-align: center;
	}
	.footer-bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.create {
		justify-content: center;
	}
	.btn_top {
		float: none;
	}
	.footer__title i {
		font-size: 14px;
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(180deg);
	}
	.footer__logo {
		margin-bottom: 15px;
	}
	.footer__logo .logo img {
		width: 220px;
	}
	.buttons-fixed {
		bottom: 0;
		left: 0;
		right: 0;
		top: auto;
		background: #0089CD;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.btn-fixed {
		height: 52px;
		margin: 0;
		background-color: transparent;
	}
	.header .container {
		position: static;
	}
	.header-bottom,
	.menu-dropdown {
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		padding: 0 15px;
		padding-bottom: 120px;
		margin: 0;
		box-shadow: none;
		border-radius: 0;
	}
	.nav-main li {
		margin: 0;
	}
	.menu {
		display: block;
	}
	.header-bottom {
		padding-left: 0;
		padding-right: 0;
	}
	.menu a,
	.nav-main a {
		padding: 15px 0;
		border-bottom: 1px solid #363636;
		display: block;
	}
	.menu-dropdown .nav-main {
		margin-bottom: 20px;
	}
	.menu-dropdown__mobile {
		display: block;
	}
	.form-search {
		width: 100%;
		margin-bottom: 10px;
	}
	.menu-dropdown .header-contacts {
		align-items: flex-start;
		margin-top: 20px;
	}
	.menu-dropdown .header-contacts__line {
		margin-bottom: 10px;
	}
	.mobile-phone {
		width: 48px;
		height: 48px;
		font-size: 14px;
		border-radius: 6px;
		background: #ECECEC;
		color: #016EA4;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.wrapper {
		padding-top: 74px;
	}
	.sandwich_close {
		position: absolute;
		top: 13px;
		left: 15px;
		display: flex;
		visibility: hidden;
		opacity: 0;
	}
	.header .container {
		max-width: 100%;
	}
	.sandwich_close.active {
		visibility: visible;
		opacity: 1;
		z-index: 200;
	}
	.page-contacts .block-form {
		margin-left: 0;
	}
	.article-top {
		margin-bottom: 20px;
	}
	.article-content h2 {
		font-size: 17px;
		margin-top: 20px;
	}
	.article-content ul {
		margin-bottom: 15px;
	}
	.sidebar-catalog {
		display: none;
		padding-bottom: 15px;
	}
	.btn-main_filter {
		padding: 0 40px;
		margin-bottom: 20px;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.image-card {
		margin: 0;
		margin-bottom: 20px;
	}
	.card-actions,
	.card-info {
		margin: 0;
	}
	.line-card {
		display: flex;
	}
	.line-card__total {
		margin: 0;
	}
	.price-total {
		margin-top: 5px;
	}
	.article-content img + blockquote {
		margin-top: 25px;
	}
	.col-btn {
		width: 100%;
	}
	.form-bottom .btn-main {
		min-width: 241px;
	}
	.selects-calculator .row > div {
		margin-bottom: 22px;
	}
	.image-calculator {
		margin-bottom: 25px;
	}
	.item-review {
		min-height: initial;
	}
	.error-block .title-section {
		margin-bottom: 210px;
	}
	.error-block {
		min-height: 445px;
		padding: 25px;
	}
	.descr-error {
		max-width: 346px;
		padding-bottom: 19px;
		font-size: 16px;
	}
	.thanks-block .btn-main,
	.error-block .btn-main {
		height: 54px;
		padding: 0 27px;
		font-size: 14px;
	}
	.page-card .breadcrumbs {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.thanks-block {
		padding: 60px 80px;
	}
	.title-about {
		font-size: 25px;
	}
	.value-about {
		font-size: 85px;
	}
	.value-about span {
		font-size: 25px;
		margin-left: 15px;
	}
	.page-about .title-section {
		padding-bottom: 30px;
	}
	.image-about {
		margin-top: 35px;
		margin-bottom: -70px;
	}
	.bottom-about {
		padding-top: 110px;
	}
	.text-block {
		min-height: initial;
		height: auto;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-section {
		font-size: 24px;
	}
	.head-section {
		display: block;
	}
	.head-section .btn-main {
		margin-top: 13px;
	}
	.categories {
		padding-top: 30px;
		padding-bottom: 30px;
		background-size: 80% auto;
	}
	.catalog .title-section {
		padding-bottom: 10px;
	}
	.catalog {
		padding-top: 28px;
	}
	.slider-catalog .slick-slide {
		padding: 3px;
	}
	.slider-catalog {
		margin: 0 -3px;
		padding-bottom: 25px;
	}
	.slider-catalog .item-catalog {
		box-shadow: none;
	}
	.item-catalog {
		padding: 8px;
		padding-top: 4px;
	}
	.catalog {
		padding-bottom: 35px;
	}
	.services {
		padding-top: 28px;
		padding-bottom: 15px;
	}
	.delivery {
		padding-bottom: 40px;
	}
	.consultation-block .title-section {
		font-size: 28px;
	}
	.consultation-block .list-page {
		margin-bottom: 25px;
	}
	.consultation-block .list-page li {
		font-size: 14px;
	}
	.consultation-block {
		background: #0089CD;
	}
	.consultation-block .checkbox {
		color: #fff;
	}
	.consultation-block .checkbox label > span:before {
		border-color: #fff;
	}
	.consultation-block .checkbox label > span:after {
		color: #fff;
	}
	.delivery {
		padding-bottom: 20px;
		background: #F5F5F5;
	}
	#map .ymaps-2-1-79-balloon {
		margin-left: 0;
		margin-top: 0;
		border-radius: 0;
	}
	.item-contact {
		margin-bottom: 25px;
	}
	.page-contacts {
		padding-top: 25px;
		padding-bottom: 34px;
	}
	.page-contacts ~ .contacts {
		padding: 25px 0;
	}
	.page-news {
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.row_news > div {
		margin-bottom: 25px;
	}
	.article-content h1 {
		font-size: 22px;
		line-height: 140%;
	}
	.breadcrumbs {
		font-size: 13px;
	}
	.breadcrumbs {
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		padding: 13px 0;
		margin: 0 -15px;
		padding-left: 15px;
	}
	.breadcrumbs li {
		padding: 7px 14px;
		background: #fff;
		box-shadow: 0 0 4px #ddd;
		border-radius: 30px;
		margin-right: 10px;
	}
	.breadcrumbs li::after,
	.breadcrumbs li span {
		display: none;
	}
	.page-categories ~ .consultation {
		padding-bottom: 40px;
	}
	.item-sorting {
		display: block;
	}
	.item-sorting .item-select {
		margin: 0;
		margin-top: 15px;
	}
	.table-catalog tr,
	.table-catalog td,
	.table-catalog tbody,
	.table-catalog table {
		display: block;
	}
	.table-catalog thead {
		display: none;
	}
	.table-catalog td {
		display: flex;
		align-items: center;
		border: none;
		text-align: left;
	}
	.table-catalog td::before {
		content: attr(data-title);
		width: 50%;
	}
	.table-catalog tr {
		padding: 10px 0;
		border-bottom: 1px solid #ECECEC;
	}
	.table-catalog table {
		font-size: 14px;
	}
	.switcher {
		font-size: 14px;
	}
	.item-sorting {
		margin-bottom: 20px;
	}
	.item-sorting__title {
		font-size: 14px;
		margin-right: 0;
	}
	.sorting-catalog {
		padding-top: 0;
	}
	.item-news__image {
		height: 185px;
	}
	.title-small_articul {
		margin-bottom: 22px;
	}
	.card-info {
		margin-bottom: 15px;
	}
	.page-card .tabs {
		max-width: 100%;
	}
	.card-info .feature,
	.page-card {
		font-size: 14px;
	}
	.page-services {
		padding-top: 16px;
	}
	.form-bottom .btn-main {
		width: 100%;
		margin-bottom: 0;
		min-width: initial;
	}
	.form-bottom .checkbox {
		margin-top: 15px;
	}
	.descr-form {
		max-width: 306px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.block-calculator {
		padding: 30px;
	}
	.selects-calculator {
		padding: 0;
	}
	.page-service {
		padding-bottom: 38px;
	}
	.form-bottom.form-bottom_review {
		padding-left: 45px;
		padding-right: 45px;
		margin-top: 35px;
	}
	.page-reviews {
		padding-bottom: 40px;
	}
	.item-review__head {
		margin-bottom: 11px;
	}
	.form-bottom.form-bottom_review .btn-main {
		margin-bottom: 0;
	}
	.error-block {
		background-position: 52% 50%;
	}
	.thanks-block {
		padding: 50px 31px;
	}
	.thanks-block .title-block {
		font-size: 18px;
	}
	.thanks-inner {
		padding: 35px 30px;
	}
	.bottom-about {
		padding-top: 90px;
	}
	.image-about {
		margin-top: 30px;
		margin-bottom: -55px;
	}
	.row_main > div {
		margin-bottom: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 26px; 
	}
	.slider-wrapper { 
		margin: 0 -15px;
		margin-bottom: 20px;
	}
	.item-billbord__image img,
	.item-billbord__image {
		border-radius: 0;
	}
	.billbord {
		padding-top: 0;
	}
	.item-billbord {
		min-height: 450px;
		padding: 25px 15px;
	}
	.item-billbord .list-page li {
		line-height: 140%;
		font-size: 13px;
	}
	.controls-slider {
		left: 0;
		right: 0;
		bottom: 15px;
		justify-content: center;
	}
	.controls-slider .slick-dots {
		width: initial;
	}
	.item-category__image {
		transform: scale(0.5);
	}
	.item-category {
		height: 155px;
		padding: 10px 15px;
		font-size: 14px;
		line-height: 140%;
	}
	.row_services > div {
		padding: 0 7px;
		margin-bottom: 17px;
	}
	.row_services {
		margin: 0 -7px;
	}
	.item-service__image {
		height: 150px;
		margin-bottom: 8px;
	}
	.item-service__title {
		font-size: 13px;
		padding-left: 15px;
	}
	.item-service__title::before {
		height: 9px;
		width: 5px;
		top: 5px;
	}
	.consultation-block .title-section {
		font-size: 24px;
	}
	#map {
		height: 300px;
	}
	.item-billbord .list-page {
		max-width: 250px;
	}
	.btn-cart {
		width: 40px;
		height: 40px;
		background-size: 16px auto;
	}
	.quantity {
		width: 100px;
		height: 40px;
	}
	.price-main {
		font-size: 16px;
	}
	.feature span {
		text-align: right;
	}
	.feature {
		font-size: 11px;
		line-height: 180%;
	}
	.item-catalog__buttons {
		padding-top: 12px;
	}
	.item-catalog__image {
		height: 135px;
		margin-bottom: 8px;
	}
	.tags-card {
		top: 8px;
		left: 6px;
	}
	.tag-card {
		font-size: 8px;
		line-height: 190%;
		padding: 3px 10px;
		margin-bottom: 4px;
	}
	.btn-like {
		width: 35px;
		height: 35px;
		top: 8px;
		right: 7px;
		font-size: 15px;
	}
	.item-catalog__title {
		font-size: 13px;
		line-height: 140%;
		margin-bottom: 6px;
	}
	.quantity input {
		font-size: 14px;
	}
	.quantity__text {
		padding-left: 20px;
	}
	.page-contacts .row {
		margin: 0 -5px;
	}
	.page-contacts .row > div {
		padding: 0 5px;
	}
	.item-contact {
		font-size: 12px;
	}
	.phone-contact {
		font-size: 14px;
	}
	.item-contact span {
		font-size: 12px;
	}
	.item-contact .title-middle {
		font-size: 15px;
	}
	.page-numbers {
		margin: 0 18px;
	}
	.article-content li {
		margin-left: 4px;
	}
	.page-card {
		padding-bottom: 40px;
	}
	.form-bottom {
		padding: 22px 25px;
		padding-bottom: 33px;
	}
	.title-form {
		font-size: 22px;
		padding-bottom: 7px;
	}
	.page-service {
		padding-bottom: 40px;
	}
	.block-calculator {
		padding: 25px 20px;
	}
	.image-calculator {
		height: 235px;
	}
	.form-calculator {
		padding: 20px 15px;
	}
	.form-calculator .item-form {
		margin-right: 20px;
	}
	.block-calculator .form-bottom {
		padding: 30px 20px;
	}
	.page-reviews .title-section {
		padding-top: 5px;
	}
	.reviews-block {
		padding: 20px;
		padding-bottom: 10px;
	}
	.item-review {
		padding: 20px 15px;
		border-radius: 10px;
	}
	.item-review__head {
		display: block;
	}
	.item-review__head .rating {
		margin-top: 7px;
	}
	.form-bottom.form-bottom_review {
		padding-left: 25px;
		padding-right: 25px;
	}
	.error-block .title-section {
		margin-bottom: 160px;
	}
	.descr-error {
		font-size: 14px;
	}
	.thanks-block,
	.error-block {
		min-height: 375px;
		margin: 0 -15px;
	}
	.thanks-block {
		padding: 50px 15px;
	}
	.thanks-inner {
		padding: 35px 15px;
		border-radius: 14px;
	}
	.title-about {
		font-size: 22px;
	}
	.value-about {
		font-size: 76px; 
	}
	.value-about span {
		font-size: 22px;
		margin-left: 14px;
	}
	.text-about {
		font-size: 14px;
	}
	.image-about img {
		border-radius: 10px;
	}
	.image-about {
		margin-top: 25px;
		margin-bottom: -40px;
	}
	.bottom-about {
		padding-top: 70px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.sidebar-catalog,
	.header-bottom,
	.footer__content {
		display: block !important;
	}
	.btn-fixed_catalog {
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {
	.container {
		max-width: 1370px;
	}
}
